@media (min-width: 576px) {

}

/*pc*/
@media (min-width: 1025px) {

}

/*laptop*/
@media (max-width: 1024px) {
}

/*tablet*/
@media (max-width: 768px) {
    .lst-type {
        grid-template-columns: repeat(2, 1fr);
    }
    .lst-type .type-item {
        padding: 5px 10px;
    }

    .type-item h6 {
        font-size: 16px;
    }

    .type-item span {
        font-size: 12px;
    }

    .info-banner h3 {
        font-size: 24px;
    }

    .section-flash-sale {
        padding-top: 20px;
    }

    .flash-time .img img {
        width: 180px;
    }

    .cd-result li .count-value {
        font-size: 16px;
    }

    .cd-result .name {
        font-size: 14px;
    }

    .time-countdown {
        margin-top: 0;
    }

    .section-qc {
        padding: 60px 0;
    }

    .box-dk form input {
        height: 50px;
    }

    .box-dk form .btn {
        font-size: 18px;
        padding: 8px 0;
    }

    .form-send-mail .btn {
        padding: 6px 0;
    }

    .menu-bot {
        display: none;
    }

    .menu-top .logo img {
        width: 180px;
    }

    .menu-top {
        padding: 10px 0;
    }
}

/*mobile*/
@media(max-width: 575px){
    .banner-top .img {
        display: none;
    }

    .info-banner {
        text-align: center;
    }

    .info-banner h3 {
        width: 100%;
    }

    .info-banner h5 {
        width: 100%;
    }

    .info-banner .btn {
        margin: 30px auto 0;
    }

    .banner-bot {
        margin-top: 30px;
    }

    .qc-info h3 {text-align: center;}

    .qc-info br {
        display: none;
    }

    .section-qc .img img {
        width: 280px;
    }

    .section-list-pr {}

    .section-qc {
        padding-bottom: 0;
    }

    .title-view {
        flex-wrap: wrap;
        justify-content: center;
    }
    .title-view h4 {
        width: 100%;
        text-align: center;
    }

    .contact-foot-item {
        width: 100%;
        margin-bottom: 10px;
    }
    .box-rv {
        flex-wrap: wrap;
    }

    .rv-item {
        width: 100%;
        margin-bottom: 14px;
    }

    .logo-footer img {
        width: 180px;
    }
    .package-lst .item{
        padding: 3px 10px;
    }
    .package-lst .item strong {
        font-size: 14px;
    }
}

@media (min-width: 769px) {

}