@media (min-width: 576px) {

}

/*pc*/
@media (min-width: 1025px) {

}

/*laptop*/
@media (max-width: 1024px) {
}

/*tablet*/
@media (max-width: 768px) {
    .lst-type {
        grid-template-columns: repeat(2, 1fr);
    }
    .lst-type .type-item {
        padding: 5px 10px;
    }

    .type-item h6 {
        font-size: 16px;
    }

    .type-item span {
        font-size: 12px;
    }
}

/*mobile*/
@media(max-width: 575px){

}

@media (min-width: 769px) {

}