@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primaryColor: #3862FF;
    --fontBase: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    outline: none;
}
a, button{
    transition: .3s;
}
button:focus{
    box-shadow: none !important;
    outline: none !important;
}
body {
    font-family: var(--fontBase);
    font-size: 16px;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
}
.text-primary {
    color: var(--primaryColor) !important;
}
.btn-primary {
    background: var(--primaryColor) !important;
    border: var(--primaryColor) !important;
    color: #fff !important;
}
.wrap-header {
    width: 100%;
}
.menu-top{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.wrap-menu-bot {
    display: flex;
}

.menu-bot-item {
    margin-right: 40px;
    font-weight: 600;
    font-size: 16px;
}

.menu-bot-item.active a {
    color: var(--primaryColor);
}

.menu-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bot {}

.form-search {
    width: 380px;
}

.form-search .form-floating {
    flex: 1;
}

.form-search .form-floating input {
    padding: 0 10px !important;
    height: 40px;
}

.form-search .input-group {
    background: #F7F7F7;
    border-radius: 40px;
    overflow: hidden;
}

.form-search .input-group * {
    border: none;
    background: transparent;
}

.nav-app {
    background: #fff !important;
}

.menu-top .logo img {
    width: 300px;
}

.btn-auth {
    width: 250px;
    padding: 6px 10px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.btn-auth img {
    margin-right: 6px;
}

.nav-right .navbar-nav li {
    margin-left: 30px;
}

input::placeholder {
    color: #979797 !important;
}
.banner-app {
    background: url("../images/wave.png") no-repeat top left;
    background-size: cover;
    padding-bottom: 50px;
}
.lst-type {

    /* Shadown 1 */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.lst-type .type-item {
    padding: 15px 20px;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.banner-bot {
    background: #FFFFFF;
    box-shadow: 0px 6px 24px rgb(0 0 0 / 8%);
    border-radius: 15px;
    padding: 20px;
}

.banner-bot .title {
    margin-bottom: 25px;
}
.banner-top {
    padding-top: 40px;
}

.info-banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-banner .btn {
    width: 280px;
    padding: 8px;
    border-radius: 45px;
    margin-top: 20px;
}

.info-banner h3 {
    font-size: 2.2rem;
}
.banner-top .img img {
    width: 480px;
}

.banner-top .img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.lst-type .type-item:hover {
    background: #EAF4FF;
    /* Shadown 1 */
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
.type-item a {
    display: flex;
    align-items: center;
}
.type-item span {
    font-size: 14px;
    display: block;
}
.type-item  h6{
    font-size: 20px;
    margin-bottom: 3px;
}
.type-item  .ct {
    padding-left: 10px;
}
.cut-item {
    background: #FFFFFF;
    /* Shadown 1 */

    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    overflow: hidden;
    padding: 8px;
}
.cut-item .img {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.cut-item .img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.cut-item h6 {
    font-weight: 600;
    margin-bottom: 10px;
}
.cut-x span{
    color: #2747BC;
}
.cut-x small {
    color: #464646;
    font-size: 12px;
}

.cut-price strong {
    color: #DE0C15;
    font-weight: 600;
    display: inline-block;
    margin-right: 8px;
    font-size: 24px;
}
.cut-price small {
    color: #A8A8A8;
    font-size: 14px;
}
.cut-sold{
    margin-top: 15px;
    height: 20px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-sold {
    position: absolute;
    height: 100%;
    background: linear-gradient(90deg, #FF620A 0%, #B71919 101.99%);
    border-radius: 24px;
    top: 0;
    left: 0;
    z-index: 1;
}
.cut-sold span {
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    position: relative;
    z-index: 9;
}
.slick-slide {
    margin: 0 15px;
}
.section-flash-sale{
    padding-top: 50px;
    padding-bottom: 75px;
    background: url("../images/thunder.png") no-repeat top left;
    background-size: cover;
}
.slide-flash .slick-arrow {
    top: auto;
    bottom: -68px;
    width: 45px;
    border-radius: 40px;
}

.slide-flash .slick-next {
    right: 20%;
}

.slide-flash .slick-prev {
    left: 20%;
}

.slide-flash .slick-dots {
    bottom: -40px;
}

.cd-result {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
}

.cd-result li .count-value {
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    background: #fff;
}

.cd-result li {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.cd-result .name {
    font-weight: bold;
    color: #fff;
}
.flash-time {
    display: flex;
    align-items: center;
}

.time-countdown {
    margin-left: 40px;
    margin-top: 22px;
}
.section-qc {
    padding: 70px 0;
    background: url("../images/wave-bot.png") no-repeat top left;
    background-size: cover;
}
.box-qc{
    margin-top: 35px;
    background: #FFFFFF;
    /* Shadown 1 */

    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 15px;
}
.section-qc .img {
    display: flex;
    justify-content: center;
}
.section-qc .img img {
    width: 400px;
}
.title-view{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.title-view h4 {
    font-size: 24px;
}
.title-view a {
    background: var(--primaryColor);
    color: #fff;
    display: inline-block;
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 10px;
}
.section-list-pr {
    padding: 50px 0;
}

.feedback-item {
    background: #FFFFFF;
    /* Shadown 2 */

    box-shadow: 0px 6px 20px -2px rgba(13, 23, 62, 0.2);
    border-radius: 12px;
    padding: 15px;
}
.feedback-item .f-user {
    display: flex;
}
.feedback-item .f-user .img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-item .f-user .img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.feedback-item .f-user .f-name {
    padding-left: 10px;
}
.slide-feedback .slick-arrow {
    top: -30px;
    border-radius: 50%;
    border: transparent;
    background: #fff;
}

.slide-feedback .slick-next {
    right: 0;
}

.slide-feedback .slick-prev {
    left: auto;
    right: 40px;
}
.section-feedback {
    padding: 40px 0;
    background: url("../images/bg-feedback.png") no-repeat top left;
    background-size: cover;
}
.box-rv{
    display: flex;
    justify-content: center;
}
.rv-item{
    background: #FFFFFF;
    /* Shadown 1 */

    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin: 0 15px;
    width: 280px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.rv-item  .ct {
    padding-left: 10px;
}
.section-dk{
    padding: 50px 0;
}
.rv-item  .ct h5 {
    margin-bottom: 5px;
}
.box-dk{
    max-width: 580px;
    margin: 40px auto 0;
}
.box-dk form{
    background: #F7F7F7;
    margin-top: 50px;

    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}
.box-dk form input {
    height: 70px;
    background: transparent;
    border: none;
    padding-left: 20px;
    width: calc(100% - 180px);
}
.box-dk form .btn  {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    border-radius: 40px;
    font-size: 20px;
    width: 160px;
}
.logo-footer{
    margin-bottom: 30px;
}
.logo-footer img {
    width: 250px;
}
.footer-app {
    color: #9A9EA6;
    background: #F8FBFF;
    padding: 40px 0;
}
.contact-foot {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.contact-foot-item {
    width: 50%;
    display: flex;
    align-items: center;
}
.contact-foot-item .icon {
    width: 48px;
    height: 48px;

    /* Primary Color/40 */

    background: #EAF4FF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-foot-item .ct {
    padding: 5px 6px;
}
.contact-foot-item p {
    color: #9A9EA6;
    font-size: 12px;
    margin-bottom: 5px;
}
.contact-foot-item .ct strong {
    color: var(--primaryColor);
    font-weight: 700;
}
.form-send-mail {
    position: relative;
    background: #F0F1F2;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 20px;
}
.form-send-mail .btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    width: 95px;
    border-radius: 30px;
}
.form-send-mail input {
    padding-left: 15px;
    width: calc(100% - 130px);
    background: transparent;
    border: none;
    height: 48px;
}
.contact-menu-foot{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-menu-foot a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    /* Primary Color/40 */

    background: #EAF4FF;
    border-radius: 50%;
    margin-right: 12px;
    transition: .3s;
}
.contact-menu-foot a:hover {
    background: #d7e6fd;
}

.profile-head{
    padding: 15px;
}
.profile-head .head{
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid #000000;
    padding-bottom: 12px;
}
.menu-box{
    padding: 12px 0;
}
.menu-box a {
    display: flex;
    padding: 8px;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
    display: block;
    overflow: hidden;
    color: #000;
    text-decoration: none;
}
.menu-box a i {
    margin-right: 8px;
}
.navbar-toggler{
    border-color: #b2b2b2;
}
.navbar-toggler i {
    color: #5c5c5c;
}
.menu-mobile {
    padding: 12px 0;
    border-top: 1px solid #ccc;
}
.menu-mobile .menu-mobile-item {
    display: block;
}
.nav-mobile {
    position: fixed;
    top: 70px;
    width: 100%;
    padding: 30px 20px;
    left: 0;
    background: #FFFFFF;
    z-index: 9999;
    height: 100%;
}
.menu-mobile .menu-mobile-item {
    padding: 5px 0;
    text-decoration: none;
    color: #828282;
}
.menu-mobile .menu-mobile-item img{
    width: 20px;
    margin-right: 10px;
}
.lst-social {
    padding-left: 30px;
    color: #828282;
}
.dropdown-mobile .dropdown-toggle::after {
    display: none;
}

.dropdown-mobile .dropdown-menu {
    background: transparent;
    top: -100px;
}
.box-profile .dropdown-menu {
    left: -100%;
    margin-top: 10px;
}
button.navbar-toggler.dropdown-toggle[aria-expanded=true] i.fa-solid.fa-bars {
    display: none;
}

button.navbar-toggler.dropdown-toggle[aria-expanded=false] i.fa-solid.fa-xmark {
    display: none;
}
.menu-box a:hover {
    background: #e0e0e0;
}
.contact-list a:hover {
    text-decoration: underline;
}