@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primaryColor: #3862FF;
    --fontBase: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    outline: none;
}
a, button{
    transition: .3s;
}
button:focus{
    box-shadow: none !important;
    outline: none !important;
}
body {
    font-family: var(--fontBase);
    font-size: 16px;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
}
.text-primary {
    color: var(--primaryColor) !important;
}
.btn-primary {
    background: var(--primaryColor) !important;
    border: var(--primaryColor) !important;
    color: #fff !important;
}
header{
    border-bottom: 1px solid #EBEBEB;
}
.wrap-header {
    width: 100%;
}
.menu-top{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.wrap-menu-bot {
    display: flex;
}

.menu-bot-item {
    margin-right: 40px;
    font-weight: 600;
    font-size: 16px;
}

.menu-bot-item.active a {
    color: var(--primaryColor);
}

.menu-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bot {}

.form-search {
    width: 380px;
}

.form-search .form-floating {
    flex: 1;
}

.form-search .form-floating input {
    padding: 0 10px !important;
    height: 40px;
}

.form-search .input-group {
    background: #F7F7F7;
    border-radius: 40px;
    overflow: hidden;
}

.form-search .input-group * {
    border: none;
    background: transparent;
}

.nav-app {
    background: #fff !important;
}

.menu-top .logo img {
    width: 300px;
}

.btn-auth {
    width: 250px;
    padding: 6px 10px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.btn-auth img {
    margin-right: 6px;
}

.nav-right .navbar-nav li {
    margin-left: 30px;
}

input::placeholder {
    color: #979797 !important;
}
.banner-app {
    background: url("../images/wave.png") no-repeat top left;
    background-size: cover;
    padding-bottom: 50px;
}
.lst-type {

    /* Shadown 1 */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.lst-type .type-item {
    transition: .3s;
    padding: 15px 20px;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.banner-bot {
    background: #FFFFFF;
    box-shadow: 0px 6px 24px rgb(0 0 0 / 8%);
    border-radius: 15px;
    padding: 20px;
}

.banner-bot .title {
    margin-bottom: 25px;
}
.banner-top {
    padding-top: 40px;
}

.info-banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-banner .btn {
    width: 280px;
    padding: 8px;
    border-radius: 45px;
    margin-top: 20px;
    transition: .3s;
}
.info-banner .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 20%) !important;
    opacity: 0.9;
}

.info-banner h3 {
    font-size: 2.2rem;
}
.banner-top .img img {
    width: 480px;
}

.banner-top .img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.lst-type .type-item:hover {
    background: #EAF4FF;
    /* Shadown 1 */
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
.type-item a {
    display: flex;
    align-items: center;
}
.type-item span {
    font-size: 14px;
    display: block;
}
.type-item  h6{
    font-size: 20px;
    margin-bottom: 3px;
}
.type-item  .ct {
    padding-left: 10px;
}
.cut-item {
    background: #FFFFFF;
    /* Shadown 1 */

    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    overflow: hidden;
    padding: 8px;
    transition: .3s;
}
.cut-item:hover {
    box-shadow: 0px 0px 8px rgb(0 0 0 / 8%);
}
.cut-item .img {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.cut-item .img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.cut-item h6 {
    font-weight: 600;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
.cut-x span{
    color: #2747BC;
}
.cut-x small {
    color: #464646;
    font-size: 12px;
}

.cut-price strong {
    color: #DE0C15;
    font-weight: 600;
    display: inline-block;
    margin-right: 8px;
    font-size: 24px;
}
.cut-price small {
    color: #A8A8A8;
    font-size: 14px;
}
.cut-sold{
    margin-top: 15px;
    height: 20px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-sold {
    position: absolute;
    height: 100%;
    background: linear-gradient(90deg, #FF620A 0%, #B71919 101.99%);
    border-radius: 24px;
    top: 0;
    left: 0;
    z-index: 1;
}
.cut-sold span {
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    position: relative;
    z-index: 9;
}
.slick-slide {
    margin: 0 15px;
}
.section-flash-sale{
    padding-top: 50px;
    padding-bottom: 75px;
    background: url("../images/thunder.png") no-repeat top left;
    background-size: cover;
}
.slide-flash .slick-arrow {
    top: auto;
    bottom: -68px;
    width: 45px;
    border-radius: 40px;
}

.slide-flash .slick-next {
    right: 20%;
}

.slide-flash .slick-prev {
    left: 20%;
}

.slide-flash .slick-dots {
    bottom: -40px;
}

.cd-result {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
}

.cd-result li .count-value {
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    background: #fff;
}

.cd-result li {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.cd-result .name {
    font-weight: bold;
    color: #fff;
}
.flash-time {
    display: flex;
    align-items: center;
}

.time-countdown {
    margin-left: 40px;
    margin-top: 22px;
}
.section-qc {
    padding: 70px 0;
    background: url("../images/wave-bot.png") no-repeat top left;
    background-size: cover;
}
.box-qc{
    margin-top: 35px;
    background: #FFFFFF;
    /* Shadown 1 */

    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 15px;
}
.section-qc .img {
    display: flex;
    justify-content: center;
}
.section-qc .img img {
    width: 400px;
}
.title-view{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.title-view h4 {
    font-size: 24px;
}
.title-view a {
    background: var(--primaryColor);
    color: #fff;
    display: inline-block;
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 10px;
}
.section-list-pr {
    padding: 50px 0;
}

.feedback-item {
    background: #FFFFFF;
    /* Shadown 2 */

    box-shadow: 0px 6px 20px -2px rgba(13, 23, 62, 0.2);
    border-radius: 12px;
    padding: 15px;
}
.feedback-item .f-user {
    display: flex;
}
.feedback-item .f-user .img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-item .f-user .img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.feedback-item .f-user .f-name {
    padding-left: 10px;
}
.slide-feedback .slick-arrow {
    top: -30px;
    border-radius: 50%;
    border: transparent;
    background: #fff;
}

.slide-feedback .slick-next {
    right: 0;
}

.slide-feedback .slick-prev {
    left: auto;
    right: 40px;
}
.section-feedback {
    padding: 40px 0;
    background: url("../images/bg-feedback.png") no-repeat top left;
    background-size: cover;
}
.box-rv{
    display: flex;
    justify-content: center;
}
.rv-item{
    background: #FFFFFF;
    /* Shadown 1 */

    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin: 0 15px;
    width: 280px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.rv-item  .ct {
    padding-left: 10px;
}
.section-dk{
    padding: 70px 0;
    /*background: url("../images/wave-mid.png") no-repeat top left;*/
    background-size: cover;
}
.rv-item  .ct h5 {
    margin-bottom: 5px;
}
.box-dk{
    max-width: 580px;
    margin: 40px auto 0;
}
.box-dk form{
    background: #F7F7F7;
    margin-top: 50px;

    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}
.box-dk form input {
    height: 60px;
    background: transparent;
    border: none;
    padding-left: 20px;
    width: calc(100% - 180px);
}
.box-dk form .btn  {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    border-radius: 40px;
    font-size: 20px;
    width: 160px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{
    margin-bottom: 30px;
}
.logo-footer img {
    width: 250px;
}
.footer-app {
    color: #9A9EA6;
    background: #F8FBFF;
    padding: 40px 0;
}
.contact-foot {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.contact-foot-item {
    width: 50%;
    display: flex;
    align-items: center;
}
.contact-foot-item .icon {
    width: 48px;
    height: 48px;

    /* Primary Color/40 */

    background: #EAF4FF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-foot-item .ct {
    padding: 5px 6px;
}
.contact-foot-item p {
    color: #9A9EA6;
    font-size: 12px;
    margin-bottom: 5px;
}
.contact-foot-item .ct strong {
    color: var(--primaryColor);
    font-weight: 700;
}
.form-send-mail {
    position: relative;
    background: #F0F1F2;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 20px;
}
.form-send-mail .btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    width: 95px;
    border-radius: 30px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
.form-send-mail input {
    padding-left: 15px;
    width: calc(100% - 130px);
    background: transparent;
    border: none;
    height: 48px;
}
.contact-menu-foot{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-menu-foot a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    /* Primary Color/40 */

    background: #EAF4FF;
    border-radius: 50%;
    margin-right: 12px;
    transition: .3s;
}
.contact-menu-foot a:hover {
    background: #d7e6fd;
}

.profile-head{
    padding: 15px;
}
.profile-head .head{
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid #000000;
    padding-bottom: 12px;
}
.menu-box{
    padding: 12px 0;
}
.menu-box a {
    display: flex;
    padding: 8px;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
    display: block;
    overflow: hidden;
    color: #000;
    text-decoration: none;
}
.menu-box a i {
    margin-right: 8px;
}
.navbar-toggler{
    border-color: #b2b2b2;
}
.navbar-toggler i {
    color: #5c5c5c;
}
.menu-mobile {
    padding: 12px 0;
    border-top: 1px solid #ccc;
}
.menu-mobile .menu-mobile-item {
    display: block;
}
.nav-mobile {
    position: fixed;
    top: 70px;
    width: 100%;
    padding: 30px 20px;
    left: 0;
    background: #FFFFFF;
    z-index: 9999;
    height: 100%;
}
.menu-mobile .menu-mobile-item {
    padding: 5px 0;
    text-decoration: none;
    color: #828282;
}
.menu-mobile .menu-mobile-item img{
    width: 20px;
    margin-right: 10px;
}
.lst-social {
    padding-left: 30px;
    color: #828282;
}
.dropdown-mobile .dropdown-toggle::after {
    display: none;
}

.dropdown-mobile .dropdown-menu {
    background: transparent;
    top: -100px;
}
.box-profile .dropdown-menu {
    left: -100%;
    margin-top: 10px;
}
button.navbar-toggler.dropdown-toggle[aria-expanded=true] i.fa-solid.fa-bars {
    display: none;
}

button.navbar-toggler.dropdown-toggle[aria-expanded=false] i.fa-solid.fa-xmark {
    display: none;
}
.menu-box a:hover {
    background: #e0e0e0;
}
.contact-list a:hover {
    text-decoration: underline;
}
.rate-star {
    display: flex;
}
.rate-star .stars {
    display: flex;
    align-items: center;
}
.rate-star .stars i {
    margin-right: 6px;
    font-size: 14px;
}
.typ-star h6{
    color: #464646;
}
.detail-typ{
    display: flex;
    justify-content: space-between;
}
.typ-price h3 {
    color: #DE0C15;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0;
}
.countdown-sale{
    background: linear-gradient(90.07deg, #FF620A -3.78%, #F79239 105.93%);
    border-radius: 12px;
    padding: 12px;
}
.radius {
    border-radius: 30px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.package-lst .item{
    border: 1px solid #000;
    padding: 3px 20px;
    margin: 0 5px;
    border-radius: 10px;
}
.package-lst .item:hover {
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
}
.select-package{
    margin-top: 30px;
}
.bold {
    font-weight: bold;
}
.bg-primary {
    background: var(--primaryColor) !important;
}
.breadcrumb li.breadcrumb-item a{
    color: #464646;
}
.breadcrumb li.breadcrumb-item.active {
    font-weight: bold;
}
button.navbar-toggler.dropdown-toggle {
    margin-top: 6px;
}
.count-l{
    background: #172A70;
    border-radius: 8px;
    padding: 6px;
    display: flex;
    margin-top: 30px;
}
.count-l div{
    width: 50%;
}
.btn-create{
    border-radius: 20px;
}
.form-group label {
    color: #464646;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
.form-create input, .form-create select, .form-create textarea {
    background: #F0F0F0;
    border-radius: 8px;
    border: none;
    border: 1px solid #F0F0F0;
}
#comment-box .avatar {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
}

#comment-box .avatar-img,
#comment-box .avatar-initials,
#comment-box .avatar-placeholder {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

#comment-box .avatar-img {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

#comment-box .avatar-initials {
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    line-height: 0;
    background-color: #a0aec0;
}

#comment-box .avatar-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    background: #a0aec0 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='%23fff' d='M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z'/%3e%3c/svg%3e") no-repeat center/1.75rem;
}

#comment-box .avatar-indicator {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 20%;
    display: block;
    background-color: #a0aec0;
    border-radius: 50%;
}

#comment-box .avatar-group {
    display: -ms-inline-flexbox;
    display: inline-flex;
}

#comment-box .avatar-group .avatar+.avatar {
    margin-left: -0.75rem;
}

#comment-box .avatar-group .avatar:hover {
    z-index: 1;
}

#comment-box .avatar-sm,
#comment-box .avatar-group-sm>.avatar {
    width: 2.125rem;
    height: 2.125rem;
    font-size: 1rem;
}

#comment-box .avatar-sm .avatar-placeholder,
#comment-box .avatar-group-sm>.avatar .avatar-placeholder {
    background-size: 1.25rem;
}

#comment-box .avatar-group-sm>.avatar+.avatar {
    margin-left: -0.53125rem;
}

#comment-box .avatar-lg,
#comment-box .avatar-group-lg>.avatar {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
}

#comment-box .avatar-lg .avatar-placeholder,
#comment-box .avatar-group-lg>.avatar .avatar-placeholder {
    background-size: 2.25rem;
}

#comment-box .avatar-group-lg>.avatar+.avatar {
    margin-left: -1rem;
}

#comment-box .avatar-light .avatar-indicator {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}

#comment-box .avatar-group-light>.avatar {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}

#comment-box .avatar-dark .avatar-indicator {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
}

#comment-box .avatar-group-dark>.avatar {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
    /* Font not working in <textarea> for this version of bs */
}

#comment-box textarea {
    font-family: inherit;
}
.form-cmt{
    position: relative;
}
.form-cmt .btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    font-size: 12px;
    padding: 3px 8px;
}
.form-cmt {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.form-cmt textarea {
    width: calc(100% - 50px);
}
.form-cmt textarea {
    width: calc(100% - 50px);
}
.custom-scroll::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb
{
    background-color: #9b9b9b;
    border-radius: 10px;
}
.font-weight-normal {
    font-weight: normal;
}
.form-create{
    font-size: 14px;
}
.cart-item{
    background: #FFFFFF;
    display: flex;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin-bottom: 15px;
    padding: 8px;
}
.cart-item .title {
    margin-bottom: 5px;
}
.cart-item .img {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.cart-item .img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.cart-item .ct {
    padding-left: 15px;
    display: flex;
    flex: 1;
    align-items: center;
}
.cart-item .ct-left {
    flex: 1;
    padding-right: 15px;
}
.cart-item .ct-right {
    width: 150px;
}
.cart-item .ct-right .btn {
    width: 100%;
    padding: 5px;
    border-radius: 30px;
}
.text-primary-2 {
    color: #2747BC;
}